<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Farmacia Dorgasil - Cadastrar Produtos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-danger mb-4">
        <a class="navbar-brand" href="/">Farmacia Dorgasil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <p class="navbar-toggler-icon"></p>
        </button>
        <section class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <p class="sr-only">(current)</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/funcionarios" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Funcionarios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtos" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Produtos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/funcionarios/form" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastrar Funcionarios
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/produtos/form" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastrar Produtos
                    </a>
                </li>
            </ul>
        </section>
    </nav>

    <main role="main" class="container">
        <section class="card col-md-8">
            <h1 class="card-title text-center">Cadastrar Produto</h1>
            
            <form action="/produtos" method="post" class="card-body">
                <if(data.produto.id)>
                    <section>
                        <input type="hidden" name="_method" value="put">
                    </section>
                </if>
                <input type="hidden" id="id" name="id" value="${data.produto.id}">
                    <section class="form-row">

                        
                        <section class="form-group col-md-6 input">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="${data.produto.nome}"
                                placeholder="Nome do Medicamento" required>
                            <p class="error"></p>
                        </section>
                        <section class="form-group col-md-6 input">
                            <label for="laboratorio">Laboratorio</label>
                            <input type="text" class="form-control" id="laboratorio" value="${data.produto.laboratorio}"
                                name="laboratorio" placeholder="Laboratorio do Medicamento" required>
                            <p class="error"></p>
                        </section>
                    </section>
                    <section class="form-group input">
                        <label for="preco">Preço</label>
                        <input type="number" class="form-control" id="preco" value="${data.produto.preco}" name="preco"
                            placeholder="9,99" required>
                        <p class="error"></p>
                    </section>
                    <section class="form-group input">
                        <label for="decricao">Descrição</label>
                        <textarea type="text" class="form-control" id="descricao" value="${data.produto.descricao}"
                            name="descricao" rows="3" placeholder="Descrição" required></textarea>

                        <p class="error"></p>
                    </section>
                    <section class="form-row">

                        
                        <section class="form-group col-md-6 input">
                            <label for="quantidade">Quantidade</label>
                            <input type="number" class="form-control" id="quantidade" name="quantidade" value="${data.produto.quantidade}"
                                placeholder="1000" required>
                            <p class="error"></p>
                        </section>
                        <section class="form-group col-md-6 input">
                            <label for="numeroProduto">Codigo</label>
                            <input type="number" class="form-control" name id="numeroProduto" value="${data.produto.numeroProduto}"
                                name="numeroProduto" placeholder="123123" required>
                            <p class="error"></p>
                        </section>
                    </section>
                    <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
            </form>
        </section>
    </main>

    <footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    </footer>
</body>

</html>